name: Build for Group 6 application
on: push

jobs:
  IntegrationTests:
    name: Integration Tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Integration Tests  and CodeCov
        run: |
          docker build -t database_test ./db 
          docker run --name db_test -dp 33060:3306 database_test
          mvn -Dtest=com.napier.coursework.AppIntegrationTest test
          docker stop db_test
          docker rm db_test
          docker image rm database_test
      - name: CodeCov
          uses: codecov/codecov-action@v2
          with:
            # token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
            directory: ./target/site/jacoco
            flags: Integration Tests # optional
            verbose: true # optional (default = false)
  build:
    name: Group 6 application
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Unit Tests
        run: |
          docker build -t database_test ./db
          docker run --name db_test -dp 33060:3306 database_test
          mvn -Dtest=com.napier.coursework.AppUnitTest test
          docker stop db_test
          docker rm db_test
          docker image rm database_test
      - name: Package and Run docker compose
        run: |
          mvn package -DskipTests
#          docker-compose up --abort-on-container-exit
#      - uses: "marvinpinto/action-automatic-releases@latest"
#        with:
#          repo_token: "${{ secrets.GITHUB_TOKEN }}"
#          prerelease: false
#          automatic_release_tag: "Latest release"
#          files: |
#            ./target/*.jar